<div class="page-container">
  <div class="container">
    <div class="finca-info">
      <h2>Editar Información de la Finca</h2>
      <form>
        <div>
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" required />
        </div>
        <div>
          <label for="tamano">Tamaño:</label>
          <input type="text" id="tamano" name="tamano" required />
        </div>
        <div>
          <label for="descripcion">Descripción:</label>
          <input type="text" id="descripcion" name="descripcion" required />
        </div>
        <button type="submit">Actualizar Información de la Finca</button>
      </form>
    </div>

