<div class="page-container">
  <div class="container">
    <div class="finca-info">
      <h2>Agregar Finca</h2>
      <form>
        <div>
          <label for="descripcion">Descripción:</label>
          <input type="text" id="descripcion" name="descripcion" required>
        </div>
        <div>
          <label for="ubicacion">Ubicación:</label>
          <input type="text" id="ubicacion" name="ubicacion" required>
        </div>
        <div>
          <label for="imagen">Imagen:</label>
          <input type="file" id="imagen" name="imagen" accept="image/*" required>
        </div>
        <button type="submit">Agregar Finca</button>
      </form>
    </div>
  </div>
</div>
